<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Cookie collection, display of selected passage and booking confirmation</title>
</head>
<body>
    <form action = "/logout" method="POST" >
        <input type="submit" value="Logout">
    </form>
    <h1> Hi {{ SvNr }}</h1>
    <p> Are these selections correct?</p>
    <p> Abfahrtshafen: {{ Abfahrtshafen }}</p>
    <p> Ankunftshafen: {{ Ankunftshafen }}</p>
    <p> Ankunftszeit: {{ Ankunftszeit }} </p>
    <form action="/addPassenger" method = "POST">
        <input type="submit" value="Auswahlkorrekt">
    </form>
</body>
</html>