<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Booking Confirmation </title>
</head>
<body>
    <form action = "/logout" method="POST" >
        <input type="submit" value="Logout">
    </form>
    <h1> Hi {{ person }}</h1>
    <p> Are these selections correct?</p>
    <p> Departure: {{ departure }}</p>
    <p> Destination: {{ destination }}</p>
    <p> Departure Time: {{ departureTime }} </p>
    <form action="/addPassenger" method = "POST">
        <input type="submit" value="Confirm">
    </form>
</body>
</html>
