<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Deletion </title>
</head>
<body>
	<form action = "/returnHome" method="POST" >
        <input type="submit" value="Home">
    </form>
	<h1> Delete an Entry from the Database </h1>
    <form action = "/deleteEntry" method="POST" >
    	<p>{{Error}}</p>
		<h4> Relation Name: </h4>
		<input type="text" name = "table" required>
		<h4> Identifier: </h4>
		<input type="text" name = "entry" required pattern="[0-9]*" title="Must be a number">
        <h4> </h4>
		<input type="submit" value = "Submit">
	</form>
</body>
</html>
