<!DOCTYPE html>
<html lang="en">
<head>
</head>
	<body>
    <form action = "/logout" method="POST" >
        <input type="submit" value="Logout">
    </form>
    <h1> User exists, no password protection </h1>
    <hr/>
    <p>
        Please type in your Departure port
    </p>
        {% for Hafen in Abfahrtshafen %}
        <!-- fetchall retuns tuple of tuple, therefore indexing necessary-->
        <p>{{Hafen[0]}}</p>
        {% endfor %}
    <p>{{Error}}</p>
    <form action = "/selectDeparture" method="POST" >
        <input type="text" name = "Hafen" required>
        <input type="submit" value = "submit">
    </form>

	</body>
</html>
