<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<form action = "/returnHome" method="POST" >
        <input type="submit" value="Home">
    </form>
	<h1> This is the Passage Time page </h1>
    <form action = "/inputPassageTime" method="POST" >
		<h4> Abfahrtshafen: </h4>
		<h4> Zielhafen: </h4>
        <h4> Abfahrtszeiten: </h4>
        <h4> Ankunftszeiten: </h4>
		<input type="text" value = "Abfahrtszeit" name = "Abfahrtszeit">
		<input type="submit" value = "submit">
	</form>
</body>
</html>