<!DOCTYPE html>
<html>
<body>
	<h1> This is registration page </h1>
	<h2> Please enter requested information </h2>
	<!-- action form to send to new funcktion -->
	<form action = "/addPerson" , method=" POST" >
	<input type="text" value = "SvNr" >
	<input type="text" value = "Vorname">
	<input type="text" value = "PLZ">
	<input type="text" value = "Ort">
	<input type="text" value = "Straße">
	<input type="text" value = "HausNr">
	<input type="text" value = "TelefonNr">
	<input type="submit" value="Finish Registration">
	<!-- submit -->
</body>
</html>
