<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Page to select arrival time. </title>
</head>
<body>
    <form action = "/logout" method="POST" >
        <input type="submit" value="Logout">
    </form>
    <h1> Please select Departure time </h1>
    {% for time in departureTime %}
        <p>{{time[0]}}</p>
        {% endfor %}
    <p>{{Error}}</p>
    <form action = "/confirmBooking" method="POST" >
        <input type="text" name = "departureTime" required>
        <input type="submit" value = "submit">
    </form>
</body>
</html>