<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Destination </title>
</head>
<body>
    <form action = "/logout" method="POST" >
        <input type="submit" value="Logout">
    </form>
    <h2>Please type in your Destination </h2>
    {% for Hafen in destination %}
        <p>{{Hafen[0]}}</p>
    {% endfor %}
    <form action = "/selectDepartureTime" method="POST" >
        <input type="text" name = "Hafen" required>
        <input type="submit" value = "submit">
    </form>
    <p>{{Error}}</p>
</body>
</html>